
:root{
  --yellow: #c9b458;
  --green: #6aaa64;
  /* --grey: rgb(57, 55, 55); */
  --grey: #787C7e;
  --white: #fff;

  --square-size: 160px;
  --square-rad: 10px;
  --spacing: 30px;
  --text-size: 50px;
  --font-size: 100px;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body{

}

.App-logo{
display: block; 
margin: 0 auto ;
width: 40%;

}

#grid{
  display: flex;
  justify-content: center;
  gap: var(--spacing);
  flex-wrap: wrap;
  background-color: white;
  margin-top: 10%;
  

}



#grid div{
    display: inline-block;
    height: var(--square-size);
    width: var(--square-size);
    text-align: center;
    line-height: var(--square-size);
    font-size: var(--text-size);
    border: solid rgb(72, 72, 72) 5px;

 /* styling */
  font-size: 50px;
  color:white;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  /* background-color: rgb(57, 55, 55); */
  text-transform: uppercase;
  font-weight: bold;  
  transition: transform 0.2s;
}


#grid div:hover{
      transform: scale(1.2);
}

#grid [colour = "green"]{
  background-color: var(--green);

}

#grid [colour = "yellow"]{
  background-color: var(--yellow);

}

#grid [colour = "grey"]{
  background-color: var(--grey);

}


/* have all of them as a class grey and have a toggle features so when you submit it will get each state of each square this will change the state */
/* some listener, apend, clear class and send data 
onclick if it is grey- change to yellow then change class and set the state to yellow 
on click change the state recognise by two things: 1. css 2.response to send to API  */
/* on click change the colour to green/yellow/grey */
/* each box will have an onClick to change to three colours this will cause   */

/* #t0{
  background-color: black;


} */


/* .item {
  font-size: 50px;
  color:black;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--gray);
  border: solid black 5px;
  border-radius: 10px /50%; */
  /* border-style: groove; */
  /* border-width: 5px; */

.submitForm{
  font-size:30px;
  margin: auto;
  position: relative;
}





